<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js" type="text/JavaScript"></script>
    <script type="text/javascript" src="https://unpkg.com/topojson@3.0.2/dist/topojson.js"></script>
    <meta charset="UTF-8">
    <title>台灣空屋分析</title>
</head>
<style>
    body {
        display: flex;
    }
    .tooltip {
        position: absolute;
        width: 150px;
        height: 100px;
        padding: 2px;
        padding-left: 10px;
        font: 16px sans-serif;
        background: rgb(217, 217, 217);
        border: 1px solid black;
        pointer-events: none;
        text-align: left;
    }
</style>
<body>
<!--<button onclick="drawTaiwanEmptyHousehold()">empty</button>-->
<svg id="taiwan" width="600px" height="600px" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid"></svg>
<div>
    <svg id="old-empty-line-chart"></svg>
    <svg id="new-empty-line-chart"></svg>
</div>

<script>
    let reds = {
        3: ["#fee0d2", "#fc9272", "#de2d26"],
        4: ["#fee5d9", "#fcae91", "#fb6a4a", "#cb181d"],
        5: ["#fee5d9", "#fcae91", "#fb6a4a", "#de2d26", "#a50f15"],
        6: ["#fee5d9", "#fcbba1", "#fc9272", "#fb6a4a", "#de2d26", "#a50f15"],
        7: ["#fee5d9", "#fcbba1", "#fc9272", "#fb6a4a", "#ef3b2c", "#cb181d", "#99000d"],
        8: ["#fff5f0", "#fee0d2", "#fcbba1", "#fc9272", "#fb6a4a", "#ef3b2c", "#cb181d", "#99000d"],
        9: ["#fff5f0", "#fee0d2", "#fcbba1", "#fc9272", "#fb6a4a", "#ef3b2c", "#cb181d", "#a50f15", "#67000d"]
    };
    let cities = {};
    let currentYear = 105;
    var tooltip = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0)

    // 讀取空屋資料
    d3.json("/data/LowElectricityUtilization.json", inputData => {
        cities = inputData.cities;
        d3.json("/data/county.topojson", drawTaiwanRatio);
    });

    // // 台灣空屋數地圖
    // function drawTaiwanEmptyHousehold() {
    //     let svg_taiwan = d3.select("#taiwan")
    //     let emptyHouseholdColorQScale = d3.scaleQuantile()
    //       .domain([0, 10000, 50000, 100000, 150000]).range(reds[4]);
    //
    //     svg_taiwan.selectAll("path")
    //       .attr("fill", function (d) {
    //         return emptyHouseholdColorQScale(d.properties.info.household)
    //       })
    //
    //     let taiwanLegend = svg_taiwan.selectAll(".taiwanLegend")
    //       .data(emptyHouseholdColorQScale.domain())
    //       .enter().append("g")
    //       .attr("class", "taiwanLegend")
    //       .attr("transform", function (d, i) {
    //           return "translate(600," + (i * 25 - 80) + ")"
    //       })
    //
    //     taiwanLegend.update('text')
    //       .attr("x", 30)
    //       .attr("y", 15)
    //       .text(function (d, i) {
    //           if (d <= 10000 ){
    //               return "1萬以下"
    //           } else if (d <= 50000) {
    //               return "1萬-5萬"
    //           }
    //           else  if (d<=100000){
    //               return "5萬-10萬"
    //           }
    //           else {
    //               return "10萬以上"
    //           }
    //       })
    //       .attr("class", "textselected")
    //       .style("text-anchor", "start")
    //       .style("font-size", 16)
    //
    //     taiwanLegend.select('rect')
    //       .attr("x", 0)
    //       .attr("y", 0)
    //       .attr("width", 20)
    //       .attr("height", 20)
    //       .style("fill", function (d) {
    //           return emptyHouseholdColorQScale(d)
    //       })
    // }

    // 台灣縣市空屋比例地圖
    function drawTaiwanRatio(topodata) {
        let features = topojson.feature(topodata, topodata.objects.county).features;
        let svg_taiwan = d3.select('#taiwan');
        svg_taiwan.attr("transform", "translate(0, 10)");

        // 設定空屋率資訊到feature的properties
        for (let i = 0; i < features.length; i++) {
            features[i].properties.info = cities[currentYear][features[i].properties.C_Name];
        }

        // 空屋率顏色分佈
        let ratioColorQScale = d3.scaleQuantile()
          .domain([10,12,15]).range(reds[3]);

        // 畫出path、設定縮放大小和中心、設定邊線顏色和各個縣市分層設色
        svg_taiwan.selectAll("path")
          .data(features)
          .enter().append("path")
          .attr("d", d3.geoPath().projection(
            d3.geoMercator()
              .center([121, 24])
              .scale(8000)))
          .attr("stroke", "#67000d")
          .attr("stroke-width", 1)
          .attr("fill", function(d) {
              return ratioColorQScale(d.properties.info.ratio)
          })
          .on("click", function (d) {
              showDetailInfo(d.properties.C_Name);
          })
          .on("mouseover", function (d,i) {
              d3.select(this).attr("stroke-width", 2)
              this.style.cursor="pointer"

              // 設定 tooltip
              let household = d.properties.info.household
              let ratio = d.properties.info.ratio
              tooltip.html(
                d.properties.C_Name + "<br/><br/>" +
                "空屋數: " + household + " 戶" + "<br/>" +
                "空屋率: " + ratio + "%"
              )
                .style("left", (d3.event.pageX + 20) + "px")
                .style("top", (d3.event.pageY - 28) + "px");
              tooltip.transition()
                .duration(200).style("opacity", 0.9)
          })
          .on("mouseleave", function (d,i) {
              d3.select(this).attr("stroke-width", 1)
              tooltip.style("opacity", 0)
          })

        let taiwanLegend = svg_taiwan.selectAll(".taiwanLegend")
          .data(ratioColorQScale.domain())
          .enter().append("g")
          .attr("class", "taiwanLegend")
          .attr("transform", function (d, i) {
              return "translate(600," + (i * 25 - 80) + ")"
          })

        taiwanLegend.append('text')
          .attr("x", 30)
          .attr("y", 15)
          //.attr("dy", ".35em")
          .text(function (d, i) {
              if (d <= 10 ){
                  return "小於10%"
              } else if (d <= 12) {
                  return "10 ~ 12%"
              }
              else {
                  return "大於12%"
              }
          })
          .attr("class", "textselected")
          .style("text-anchor", "start")
          .style("font-size", 16)

        taiwanLegend.append('rect')
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", 20)
          .attr("height", 20)
          .style("fill", function (d) {
              return ratioColorQScale(d)
          })
    }
    var isClicked = false

    var margin = {top: 30, right: 20, bottom: 30, left: 50},
      width = 350 - margin.left - margin.right,
      height = 250 - margin.top - margin.bottom;

    var oldEmptyXScale = d3.scaleLinear().range([0,width]);
    var oldEmptyYScale = d3.scaleLinear().range([height,0]);
    var newEmptyXScale = d3.scaleLinear().range([0,width]);
    var newEmptyYScale = d3.scaleLinear().range([height,0]);

    function showDetailInfo(cityName) {
        let oldEmptyLineChartSVG = d3.select("#old-empty-line-chart");
        oldEmptyLineChartSVG.append("text")
          .attr("text-anchor", "end")
          .attr("x", width + margin.left + margin.right)
          .attr("y", height + margin.top - 10)
          .text("(民國)")
          .style("font-size", "10px")
        oldEmptyLineChartSVG.append("text")
          .attr("text-anchor", "end")
          .attr("y",40)
          .attr("x", 80)
          .text("戶數")
          .style("font-size", "10px")

        let newEmptyLineChartSVG = d3.select("#new-empty-line-chart");
        newEmptyLineChartSVG.append("text")
          .attr("text-anchor", "end")
          .attr("x", width + margin.left + margin.right)
          .attr("y", height + margin.top - 10)
          .text("(民國)")
          .style("font-size", "10px")

        newEmptyLineChartSVG.append("text")
          .attr("text-anchor", "end")
          .attr("y",40)
          .attr("x", 80)
          .text("戶數")
          .style("font-size", "10px")

        let cityData = [];

        // 設定選好的縣市的空屋資料
        for (let year = 101; year <= 105; year++){
            let data = {
                "year": year,
                "newEmptyHousehold": cities[year][cityName].newEmptyHousehold,
                "oldEmptyHousehold": cities[year][cityName].oldEmptyHousehold
            };
            cityData.push(data)
        }

        // 設定scale
        oldEmptyXScale.domain([101,105]);
        newEmptyXScale.domain([101,105]);

        oldEmptyYScale.domain(d3.extent(cityData, d => d.oldEmptyHousehold));
        newEmptyYScale.domain(d3.extent(cityData, d => d.newEmptyHousehold));

        // 設定座標軸
        let oldEmptyXAxis = d3.axisBottom()
          .scale(oldEmptyXScale)
          .ticks(5)
          .tickFormat(d3.format("d"))
        let oldEmptyYAxis = d3.axisLeft()
          .scale(oldEmptyYScale)


        let newEmptyXAxis = d3.axisBottom()
          .scale(newEmptyXScale)
          .ticks(5)
          .tickFormat(d3.format("d"))
        let newEmptyYAxis = d3.axisLeft()
          .scale(newEmptyYScale)

        // 設定line
        let lamdaXScale = d => oldEmptyXScale(d.year)
        var oldEmptyline = d3.line()
          .x(lamdaXScale)
          .y(d => oldEmptyYScale(d.oldEmptyHousehold))

        let newLamdaXScale = d => oldEmptyXScale(d.year)
        var newEmptyline = d3.line()
          .x(newLamdaXScale)
          .y(d => newEmptyYScale(d.newEmptyHousehold))


        if (isClicked == false) {
            drawOldEmptyLine()
            drawNewEmptyLine()
            isClicked = true
        } else {
            updateLine()
        }

        function drawNewEmptyLine() {
            newEmptyLineChartSVG.append("text")
              .attr("class", "text-title")
              .attr("text-anchor", "end")
              .attr("y",20)
              .attr("x", 280)
              .text(cityName + "歷年新建餘屋戶數")
              .style("font-size", "18px")

            newEmptyLineChartSVG
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

            newEmptyLineChartSVG.select("g").append("g")
              .attr("id", "xAxisG")
              .attr("transform", "translate(0," + height + ")")
              .call(newEmptyXAxis)

            newEmptyLineChartSVG.select("g").append("g")
              .attr("id", "yAxisG").call(newEmptyYAxis)

            // 舊空屋折線
            newEmptyLineChartSVG.select("g").append("path")
              .attr("class", "line")
              .attr("d", newEmptyline(cityData))
              .attr("fill", "none")
              .attr("stroke", "#97de95")
              .attr("stroke-width", 2)

            // 舊空屋點
            newEmptyLineChartSVG.select("g").selectAll("circle")
              .data(cityData).enter().append("circle")
              .attr("r", 5)
              .attr("cx", d => newEmptyXScale(d.year))
              .attr("cy", d => newEmptyYScale(d.newEmptyHousehold))
              .attr("fill", "#08c299")
        }

        function drawOldEmptyLine() {

            oldEmptyLineChartSVG.append("text")
              .attr("class", "text-title")
              .attr("text-anchor", "end")
              .attr("y",20)
              .attr("x", 280)
              .text(cityName + "歷年舊空屋數")
              .style("font-size", "18px")

            oldEmptyLineChartSVG
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

            oldEmptyLineChartSVG.select("g").append("g")
              .attr("id", "oldXAxisG")
              .attr("transform", "translate(0," + height + ")")
              .call(oldEmptyXAxis)

            oldEmptyLineChartSVG.select("g").append("g")
              .attr("id", "oldYAxisG").call(oldEmptyYAxis)

            // 舊空屋折線
            oldEmptyLineChartSVG.select("g").append("path")
              .attr("class", "oldEmptyLine")
              .attr("d", oldEmptyline(cityData))
              .attr("fill", "none")
              .attr("stroke", "#fc9272")
              .attr("stroke-width", 2)

            // 舊空屋點
            oldEmptyLineChartSVG.select("g").selectAll("circle")
              .data(cityData).enter().append("circle")
              .attr("r", 5)
              .attr("cx", d => oldEmptyXScale(d.year))
              .attr("cy", d => oldEmptyYScale(d.oldEmptyHousehold))
              .attr("fill", "red")
        }

        function updateLine() {

            oldEmptyLineChartSVG.select(".text-title")
              .text(cityName + "歷年舊空屋數")

            newEmptyLineChartSVG.select(".text-title")
              .text(cityName + "歷年新建餘屋數")

            // 更新y軸資料範圍
            oldEmptyYScale.domain(d3.extent(cityData, d => d.oldEmptyHousehold))
            d3.select("#oldYAxisG")
              .transition()
              .duration(500)
              .call(oldEmptyYAxis)

            // 更新點資料
            oldEmptyLineChartSVG.selectAll("circle")
              .data(cityData)
              .transition().duration(500)
              .attr("r", 5)
              .attr("cx", d => oldEmptyXScale(d.year))
              .attr("cy", d => oldEmptyYScale(d.oldEmptyHousehold))

            // 更新折線
            d3.select(".oldEmptyLine")
              .transition().duration(500)
              .attr("d", oldEmptyline(cityData))



            // 更新y軸資料範圍
            newEmptyYScale.domain(d3.extent(cityData, d => d.newEmptyHousehold))
            d3.select("#yAxisG")
              .transition()
              .duration(500)
              .call(newEmptyYAxis)

            // 更新點資料
            newEmptyLineChartSVG.selectAll("circle")
              .data(cityData)
              .transition().duration(500)
              .attr("r", 5)
              .attr("cx", d => newEmptyXScale(d.year))
              .attr("cy", d => newEmptyYScale(d.newEmptyHousehold))

            // 更新折線
            d3.select(".line")
              .transition().duration(500)
              .attr("d", newEmptyline(cityData))
        }
    }



</script>
</body>
</html>